body {
  color: #804;
  background: #ADFF;
  word-wrap: break-word; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; /*Шрифты:Verdana, Arial, Sans-Serif*/
}
